@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --container-background-color :#c6f3fb;
    --card-background-color: #e9f6f9;
    --primary-text-color: #3470ab;
}
#container-overzicht-pagina {
    background-color: var(--container-background-color);
}
h1,h2,h3,h4,h5,h6,p {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}
#card-overzicht  {
    background-color: var(--card-background-color);
}
a {
    color: blue !important;
    display: block;
    font-family: 'Roboto', sans-serif;
}
#container-section-cijfers {
    background-color: var(--container-background-color);
}
.mdi {
    color: #02adc7 !important;
}