/* body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: 400vh;
}

.kyano-section {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    background-color: #b8d5db;
    width: 100%;
    height: 75vh;
    position: relative;
    z-index: -1;
    top: -55vh;
}

.image-1 {
    position: absolute;
    margin-top: 0 auto;
    right: 60px;
    width: 250px;
    top: 35%;
}

.kyano-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 40vh;
    line-height: 50px;
    top: 200px;
}

.kyano-content p {
    line-height: 50px;
}


.kyano-content-text {
    padding-top: 27.5vh;
}

.kyano-content-text p {
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    .kyano-content {
        margin-top: 20vh;
        line-height: 30px;
    }

    .kyano-content p {
        margin-top: 5vh;
        line-height: 30px;
    }

    .kyano-section {
        width: 100%;
        height: 185vh;
        top: -35vh;
    }

    .kyano-content-text {
        padding-top: 20vh;
    }

    .kyano-content-text p {
        font-size: 20px;
    }
} */